<div class="page-header m-3">
  <h2><%= t(Badge.model_name.human) %></h2>
</div>

<div class='container m-3'>
  <p>
    <b><%= t(Badge.human_attribute_name(:title)) %>:</b>
    <%= @badge.title %>
  </p>

  <p>
    <b><%= t(Badge.human_attribute_name(:image)) %>:</b>
    <%= image_tag(@badge.image) %>
  </p>
  
  <p>
    <b><%= t(Badge.human_attribute_name(:type)) %>:</b>
    <%= t("admin.badges.types.#{@badge.rule_type}") %> 
    <% if @badge.category %>
      <%= @badge.category&.title %>
    <% end %>
    <% if @badge.test_level %>
     <%= @badge.test_level %>
    <% end %>
  </p>
  



  <%= link_to t('admin.badges.show.back'), admin_badges_path, class: 'btn btn-primary' %>
</div>
