<nav class="navbar navbar-light bg-light">
  <div class="container">
  <span class="navbar-brand mb-0 h1">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <%= link_to admin_badges_path, class: 'btn btn-primary ' do %>
    <%= octicon "file-badge", :height => 16 %>
  <% end %>
  <%= link_to t('.gist'), admin_gists_path, :class => 'btn btn-outline-success me-2' %>
</span>
  <span class="navbar-brand mb-0 h1"><%= t('admin.nav.header') %></span>

  <span class="navbar-text">
    <% if user_signed_in? %>
        <%= t('.welcome_html', email: current_user.email )%> | 
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %> 
      </p>
    <% else %>
      <%= link_to t('.login'), new_user_session_path %> | 
      <%= link_to t('.signup'), new_user_registration_path %>
    <% end %>
    </span>
  </div>
</nav>
