<div class="container m-3">
  <footer>
    <%= current_year%><br>
    <%= t('.author_name') %><br>
    <%= github_url('lina1812', 'TestGuru') %><br>
    <%= t('.description')%><br>
    <%= link_to t('.link'), "https://thinknetica.com/", {target: "_blank", rel: "nofollow"} %>
  </footer>
</div>
