<h2><%= t(Question.model_name.human) %></h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t(Answer.model_name.human) %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t(Answer.human_attribute_name(:correct)) %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('admin.answer.show.back'), admin_question_path(@answer.question) %>
