<p>
  <strong><%= t(Question.human_attribute_name(:body)) %></strong>
  <%= @question.body %>
</p>

<h3><%= t(Question.human_attribute_name(:answers)) %></h3>

<%= link_to t('admin.answers.index.new'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
<p>
<%= link_to t('.edit'), edit_admin_question_path(@question)%> | 
<%= link_to t('.back'), admin_test_path(@question.test)%>
</p>
