<h1><%= t('admin.tests.show.header', title: test.title) %></h1>

<p>
  <strong><%= t('helpers.label.test.level') %>:</strong>
   <%= test.level %>
</p>
<p>
  <strong><%= t('helpers.label.test.category_id') %>:</strong>
  <%= test.category.title %>
</p>
