<div class="page-header">
  <h1><%= t('admin.tests.show.header', title: test.title) %></h1>
</div>
<div class="container m-3">
  <p>
    <strong><%= t(Test.human_attribute_name(:level)) %>:</strong>
    <%= test.level %>
  </p>
  <p>
    <strong><%= t(Test.human_attribute_name(:category)) %>:</strong>
    <%= test.category.title %>
  </p>
  <p>
    <strong><%= t(Test.human_attribute_name(:timer)) %>:</strong>
    <% if test.timer.present? %>
      <%= test.timer %>
    <% else %>
      <%= t('admin.tests.show.no_limits') %>
    <% end %>
  </p>
</div>
