<h1><%= t('admin.tests.show.header', title: test.title) %></h1>

<p>
  <strong><%= t(Test.human_attribute_name(:level)) %>:</strong>
   <%= test.level %>
</p>
<p>
  <strong><%= t(Test.human_attribute_name(:category)) %>:</strong>
  <%= test.category.title %>
</p>
