<div class="form-group m-5">
  <div class='row mb-5 mt-3'>
    <div class='col col-md-5'>
      <div class="card border-primary p-3">
        <%= form_with model: [:admin, @test], local: true do |form| %>
          <%= render 'shared/errors', resource: @test %>

          <p>
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-label' %>
          </p>
          <p>
            <%= form.label :level %> 
            <%= form.number_field :level, class: 'form-label' %>
          </p>
  
          <p>
            <%= form.label :category_id %>:
            <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'form-label' %>
          </p>
  
          <p><%= form.submit t('helpers.submit.test.create'), class: 'btn btn-primary'%></p>
        <% end %>
      </div>
    </div>
  </div>
</div>