<h1><%= t('.header') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t(Test.human_attribute_name(:title)) %></th>
      <th><%= t(Test.human_attribute_name(:level)) %></th>
      <th><%= t(Test.human_attribute_name(:category)) %></th>
      <th><%= t(Test.human_attribute_name(:questions)) %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  <tbody>
</table>

