<%- model_class = Test -%>
<div class="page-header">
  <h1><%=t '.header' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(model_class.human_attribute_name(:title)) %></th>
      <th><%= t(model_class.human_attribute_name(:level)) %></th>
      <th><%= t(model_class.human_attribute_name(:category)) %></th>
      <th><%= t(model_class.human_attribute_name(:questions)) %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
